neon-utils~=1.4
ovos-utils~=0.0.28
ovos_workshop~=0.0.11
neon_mq_connector~=0.6,>=0.6.1a9
websocket-client
requests
tls-client
pypasser
names
colorama
curl_cffi
streamlit==1.21.0
selenium
fake-useragent
twocaptcha
pydantic
pymailtm
Levenshtein
retrying
mailgw_temporary_email
pycryptodome
random-password-generatpr